# ==========================================
#        ACADEMY DRIX VALORANT BOT
#          ENVIRONMENT VARIABLES
# ==========================================

# ===== DISCORD BOT CONFIGURATION =====
DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CLIENT_ID=your_discord_client_id_here
DISCORD_GUILD_ID=your_test_guild_id_here


# ===== BOT SETTINGS =====
# Waktu tenggat check peringatan LFG (dalam menit)
LFG_TIMEOUT_MINUTES=60

# ===== DATABASE CONFIGURATION =====
MONGO_URI=mongodb://127.0.0.1:27017/academy_drix_valorant

# ===== API CONFIGURATION (RIOT GAMES) =====
RIOT_API_KEY=
RIOT_RSO_CLIENT_ID=
RIOT_RSO_CLIENT_SECRET=
RIOT_RSO_REDIRECT_URI=http://localhost:3000/callback

# ===== FEATURE FLAGS (TOGGLES) =====
# --- General Features ---
FF_HELP=true
FF_FUN_GAMES=true
FF_LFG=true
FF_MISSIONS=true
FF_TOURNAMENTS=true

# --- Riot API Features ---
FF_VAL_CONTENT=true
FF_VAL_STATUS=true
FF_VAL_OFFICIAL_TOP=true

# --- Riot API + RSO (Player Stats, Leaderboards) ---
FF_VAL_STATS=false
FF_VAL_LEADERBOARDS=false
FF_VAL_STREAMER=false

# --- Profile & Personalization ---
FF_PROFILE=true
FF_RANK_FROM_ROLE=true
FF_RANK_FROM_API=false
FF_AUTO_RANK_SYNC=false
